:root {
--cor-primaria: #2a73c7;
--cor-secundaria: #050c6e;
--cor-fundo: #96c7ff;
--cor-texto: #0c0606;
--cor-contraste: #06a6f0;
--cor-botao: #1b1414;
}

body {
max-width: 100vw;
font-familiy: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS';
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;    
}

article {
display: flex;
box-shadow: 2px 2px 10px rgb(0,0,0, 0.3);
margin: 16px;
gap: 16px;
padding: 16px;
flex: 1 1 25%;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
background-color: #264892;
}

img {
    width: 80px;
    height: 80px;
}